{deps,[
    {ranch, ".*", {git, "git://github.com/ninenines/ranch.git", {tag, "1.2.1"}}}
    ,{protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.4"}}}
    ,{emysql, ".*", {git, "git://github.com/inaka/Emysql.git", {tag, "0.4.2"}}}
    ,{bullet3, ".*", {git, "git@github.com:bulletphysics/bullet3.git", {tag, "2.85"}}, [raw]}
]}.

{erl_opts, [{inline_size, 0},
            no_debug_info,
            warnings_as_errors,
            {d, 'WYG_TEST'}
            ]}.


{port_env, [{"linux|darwin", "CFLAGS", "$CFLAGS "},
            {"win32", "CFLAGS", "/Ox /fp:fast"}]}.

{port_specs, [
    {"win32", "priv/t_bullet.dll", [
            "c_src/*.cpp",
            "deps/bullet3/src/BulletDynamics/Character/*.cpp",
            "deps/bullet3/src/BulletDynamics/ConstraintSolver/*.cpp",
            "deps/bullet3/src/BulletDynamics/Dynamics/*.cpp",
            "deps/bullet3/src/BulletDynamics/Featherstone/*.cpp",
            "deps/bullet3/src/BulletDynamics/MLCPSolvers/*.cpp",
            "deps/bullet3/src/BulletDynamics/Vehicle/*.cpp",
            "deps/bullet3/src/BulletCollision/BroadphaseCollision/*.cpp",
            "deps/bullet3/src/BulletCollision/CollisionDispatch/*.cpp",
            "deps/bullet3/src/BulletCollision/CollisionShapes/*.cpp",
            "deps/bullet3/src/BulletCollision/Gimpact/*.cpp",
            "deps/bullet3/src/BulletCollision/NarrowPhaseCollision/*.cpp",
            "deps/bullet3/src/LinearMath/*.cpp"
            ],
         [{env, [{"CXXFLAGS", "/Ox /fp:fast  -I\"deps\\bullet3\\src\" "}]}]}

]}.
