{deps,[
    {ranch, ".*", {git, "git://github.com/ninenines/ranch.git", {tag, "1.2.1"}}}
    % ,{protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.9.0"}}}
    % ,{gpb, ".*", {git, "git://github.com/tomas-abrahamsson/gpb.git", {tag, "4.4.1"}}}
    ,{emysql, ".*", {git, "git://github.com/inaka/Emysql.git", {tag, "0.4.2"}}}
]}.

{erl_opts, [{inline_size, 0},
            no_debug_info,
            warnings_as_errors,
            {d, 'WYG_TEST'}
            ]}.


{port_env, [{"linux|darwin", "CFLAGS", "$CFLAGS "},
            {"win32", "CFLAGS", "/Ox /fp:fast"}]}.
